:root {
  --background-principal: #ffffff;
  --background-2:#f9b816;
  --background-3:#2b2b2b;
  --background-4:#cecece;
  --background-5:#0e0e0c;
  --background-6:#1b1b1a;
  --fuente-principal: 'Mulish', 'sans-serif';
}